<table class="MsoNormalTable" cellspacing="0" cellpadding="0" style="margin-left: -8.1pt; border-style: none; border-color: initial; border-collapse: collapse; width: 810px;">
	<tbody>
		<tr>
			<td valign="top" style="border: 1pt solid windowtext; width: 98px; padding: 0in 5.4pt; background: rgb(230, 230, 230);">
				<p class="TableHead">
					Release 
				</p>
			</td>
			<td valign="top" style="border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left-style: none; width: 158px; padding: 0in 5.4pt; background: rgb(230, 230, 230);">
				<p class="TableHead">
					Date 
				</p>
			</td>
			<td valign="top" style="border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left-style: none; width: 555px; padding: 0in 5.4pt; background: rgb(230, 230, 230);">
				<p class="TableHead">
					Notes 
				</p>
			</td>
		</tr>
	
		<tr>
			<td rowspan="6" valign="top" style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-top-style: none; width: 98px; padding: 0in 5.4pt;">
				<p class="TableText">
					Release 1 
				</p>
			</td>
	  </tr>
		
		<tr>
			<td valign="top" style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-top-style: none; border-left-style: none; width: 158px; padding: 0in 5.4pt;">
				<p class="TableText">
					May 2018 
				</p>
			</td>
			<td valign="top" style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-top-style: none; border-left-style: none; width: 555px; padding: 0in 5.4pt;">
				<p class="TableText">
					Created Late Onset Sepsis/Meningitis (LOS) Event Report 
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p class="sceditor-nlf">
	<br />
</p>