<h3>
  Authors 
</h3>
<table class="grid">
  <thead>
    <tr>
      <td>
        <strong>Author Name</strong>              
      </td>
      <td>
        <strong>Email</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Rick Geimer 
      </td>
      <td>
        rick.geimer@lantanagroup.com 
      </td>
    </tr>
    <tr>
      <td>
        Sarah Gaunt 
      </td>
      <td>
        sarah.gaunt@lantanagroup.com 
      </td>
    </tr>
    <tr>
      <td>
        Eric Parapini 
      </td>
      <td>
        eric.parapini@lantanagroup.com 
      </td>
    </tr>
    <tr>
      <td>
        Sean McIllvena 
      </td>
      <td>
        sean.mcillvena@lantanagroup.com 
      </td>
    </tr>
    <tr>
      <td>
        Meenaxi Gosai 
      </td>
      <td>
        meenaxi.gosai@lantanagroup.com 
      </td>
    </tr>
  </tbody>
</table>