<p>This guide defines the following instances of the Questionnaire and QuestionnaireResponse profiles. The Questionnaire instance defines the HAI form and the Questionnnaire instance is an example of a completed QuestionnaireResponse to the Questionnaire. </p>
<table class="codes">
  <tr>
    <td>
      <b>Instance Name</b>
    </td>
    <td>
      <b>Description</b>
    </td>
  </tr>
  <tr>
    <td>
      <a href="Questionnaire-hai-questionnaire-los-event.html">Questionnaire/hai-questionnaire-los-event</a>
      
    </td>
    <td>This instance represents the LOS Event form as a FHIR Questionnaire.</td>
  </tr>
  <tr>
    <td>
      <a href="QuestionnaireResponse-hai-questionnaireResponse-los-event.html">Questionnaire/hai-questionnaireResponse-los-event</a>
    </td>
    <td>This profile represents an example response to the LOS Event form Questionnaire as a FHIR QuestionnaireResponse.</td>
  </tr>
</table>
