<div>
  <h3>
    References<br />
  </h3>
  <table class="codes">
    <tbody>
      <tr>
        <td>
          <strong>Name</strong>
        </td>
        <td>
          <strong>Definition</strong>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=426"
            >HL7 CDA® R2 Implementation Guide: NHSN Healthcare Associated Infection Reports, Release 3 - US Realm</a>
        </td>
        <td>
          This project developed an implementation guide constraining CDA Release 2. The implementation guide supports electronic submission of HAI data to the National Healthcare Safety Network. CDC provided NHSN developers, vocabulary experts and CDA experts to support this project. SDWG reviewed the design and draft specification before ballot. 
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://build.fhir.org/ig/HL7/ccda-on-fhir/">C-CDA on FHIR Implementation Guide (IG)</a>
        </td>
        <td>
          <a href="http://hl7.org/implement/standards/product_brief.cfm?product_id=408"
            >C-CDA</a> is one of the most widely implemented implementation guides for CDA and covers a significant scope of clinical care. Its target of the 'common/essential' elements of healthcare is closely aligned with FHIR's focus on the '80%'. There is significant interest in industry and government in the ability to interoperate between CDA and FHIR and C-CDA is a logical starting point. Implementers and regulators have both expressed an interest in the ability to map between FHIR and C-CDA. 
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://hl7.org/fhir/us/core/index.html">US Core Implementation Guide (Release 1)</a>
        </td>
        <td>
          The US Core Implementation Guide is based on <a href="http://hl7.org/fhir/STU3"
            >FHIR Version 3.0.0</a> and defines the minimum conformance requirements for accessing patient data as defined by the <a
              href="http://argonautwiki.hl7.org/index.php?title=Main_Page">Argonaut</a> pilot implementations and the <a
                href="https://www.healthit.gov/sites/default/files/2015Ed_CCG_CCDS.pdf"
                >ONC 2015 Edition Common Clinical Data Set (CCDS)</a>. These profiles are intended to be the foundation for future US Realm FHIR implementation guides. In addition to Argonaut, they are used by <a
                  href="http://hl7.org/fhir/us/daf-research/index.html">DAF-Research</a>, <a
                    href="https://oncprojectracking.healthit.gov/wiki/display/TechLabSC/CQF+Home">QI-Core</a>, and <a href="http://www.opencimi.org"
                      >CIMI</a>. Under the guidance of HL7 and the HL7 US Realm Steering Committee, the content will expand in future versions to meet the needs specific to the US Realm. 
        </td>
      </tr>
    </tbody>
  </table>
</div>