<p>This guide references the following value sets.</p>
<table class="codes"><thead><tr><td><b>Name</b></td><td><b>Definition</b></td></tr></thead><tbody><tr><td><a href="ValueSet-2.16.840.1.113883.13.19.html">NHSNHealthcareServiceLocationCode</a></td><td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.19</u><br/>
A classification of patient care locations within healthcare facilities for public health surveillance purposes.

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td></tr><tr><td><a href="ValueSet-2.16.840.1.113883.13.20.html">NHSNInfectionTypeCode</a></td><td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.20</u><br/>
Code System: cdcNHSN 2.16.840.1.113883.6.277 or SNOMED CT 2.16.840.1.113883.6.96

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td></tr></tbody></table>