<div>
  <p>This guide references the following value sets.</p>
  <table class="codes">
    <thead>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>
          <b>Definition</b>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="ValueSet-nhsn-encounter-type-code.html">NHSNEncounterTypeCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-encounter-type-code</u><br />
Code System: HL7 ActCode  2.16.840.1.113883.5.4

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-healthcare-service-location-code.html">NHSNHealthcareServiceLocationCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-healthcare-service-location-code</u><br />
A classification of patient care locations within healthcare facilities for public health surveillance purposes.

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-pathogen-code.html">NHSNPathogenCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-pathogen-code</u><br />
Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-pathogen-ranking.html">NHSNPathogenRanking</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-pathogen-ranking</u><br />
Ordinal rankings for the relative importance of a pathogen in that set with respect to its role in the infection.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-drug-susceptibility-tests-code.html">NHSNDrugSusceptibilityTestsCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-drug-susceptibility-tests-code</u><br />
Code System: LOINC 2.16.840.1.113883.6.1 or cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-drug-susceptibility-finding-code.html">NHSNDrugSusceptibilityFindingCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-drug-susceptibility-finding-code</u><br />
Code System: HL7ObservationInterpretation 2.16.840.1.113883.5.83

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-infection-type-code.html">NHSNInfectionTypeCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-infection-type-code</u><br />
Code System: cdcNHSN 2.16.840.1.113883.6.277 or SNOMED CT 2.16.840.1.113883.6.96

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-infection-condition-code.html">NHSNInfectionConditionCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-infection-condition-code</u><br />
Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-criterion-of-diagnosis-code.html">NHSNCriterionOfDiagnosisCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-criterion-of-diagnosis-code</u><br />
Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-occasion-of-detection.html">NHSNOccasionOfDetectionCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-occasion-of-detection</u><br />
Code System: cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-asa-class-code.html">NHSNASAClassCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-asa-class-code</u><br />
Code System: SNOMED CT 2.16.840.1.113883.6.96

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-procedure-category-code.html">NHSNProcedureCategoryCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-procedure-category-code</u><br />
Code System: cdcNHSN 2.16.840.1.113883.6.277

NHSN's value set for the clinical statement recording procedure details in SSI, CLIP, and Procedure Reports.     

The full table is shown in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-closure-technique-code.html">NHSNClosureTechniqueCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-closure-technique-code</u><br />
Code System: cdcNHSN 2.16.840.1.113883.6.277

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-spinal-fusion-approach-code.html">NHSNSpinalFusionApproachCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-spinal-fusion-approach-code</u><br />
Code System: cdcNHSN 2.16.840.1.113883.6.277 or SNOMED CT 2.16.840.1.113883.6.96

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
      <tr>
        <td>
          <a href="ValueSet-nhsn-wound-class-code.html">NHSNWoundClassCode</a>
        </td>
        <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-wound-class-code</u><br />
Code System: SNOMED CT 2.16.840.1.113883.6.96

A full listing of codes can be found in the hai_voc.xls file provided with this package.</td>
      </tr>
    </tbody>
  </table>
</div>
